@font-face {
    font-family: Bahnschrift;
    src: url('/static/font/BAHNSCHRIFT.TTF');
}

.flex-container {
    /* display: flex; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal 400 16px/20px Bahnschrift;
	/* font-weight: bold;
	font-size: 15px; */
}

.site-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 24px 59px #333B4526;
    border-radius: 0px 0px 20px 20px;
    opacity: 1;
}

.site-header img{

    opacity: 1;
}

.boxSearch{
    display: flex;
    width: 60%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.search{
    display: flex;
    width: 100%;
    height: 40%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 43px;
    border: 1px;
    opacity: 1;
    overflow: hidden;
    align-self: flex-start;
}

.search input[type=text]{
    width: 95%;
    height: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* box-shadow: 0px 3px 6px #00000029; */
    border-radius: 43px;
    border: none;
    text-align: left;
    font: normal normal 400 24px/34px Bahnschrift;
    letter-spacing: 0.48px;
    padding-top: 5px;
    opacity: 1;
}

.search button{
    background: transparent;
    border: none;
    padding-top: 5px;
    padding-left: 10px;
}

.checkSearch {
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: flex-end;
    /* overflow: hidden; */
}

.content {
    width: 100%;
    background: transparent url('/static/images/triangulos.png') no-repeat padding-box;
    background-position: -80px -1px;
}

.tableArea {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.table {
    border-collapse: collapse;
    margin-top: 5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* table-layout: fixed; */
}

.table thead {
    color: white;
    background-color: #222C40;
    height: 83px;
    font: normal normal bold 15px/21px Bahnschrift;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.table thead th:first-child{
    border-radius:30px 0 0 30px;
}

.table tbody {
    border: 1px solid #707070;
}

.table tbody tr {
    height: 83px;
    border: solid;
    border-color: #C9D1D8;
    border-width: 0 0 1px 0 ;
    text-align: center;
    font: normal normal 400 19px/20px Bahnschrift;
    letter-spacing: 0.38px;
    color: #222C40;
}

.table tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.table td:nth-child(n+2) {
    width: 50%;
}

.table td:nth-child(n+3) {
    width: 10%;
}

.table td:nth-child(n+4) {
    width: 15%;
}

.table td:nth-child(n+5) {
    width: 20%;
}
.select {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 15px;
    opacity: 1;
    text-align-last: right;
    width: 150px;
    font: normal normal 400 24px/34px Bahnschrift;
    letter-spacing: 0.48px;
    color: #959595;
}

.button {
    text-align: center;
    font: normal normal bold 24px/34px Bahnschrift;
    letter-spacing: 0.48px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: #222C40 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 30px;
    opacity: 1;
    padding: 0px 20px 0px 20px;
}

a.buttonStep {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    
}

.buttonlink {
    background: #C7C7C7D9 0% 0% no-repeat padding-box;
    padding: 0px 10px 0px 10px;
    text-align: center;
    font: normal normal normal 33px/47px Bahnschrift;
    letter-spacing: 0.66px;
    color: #354053;
    text-transform: uppercase;
    opacity: 1;
}

/* .step-links {
    display: flex;
    flex-wrap: wrap;
} */

.step-links .buttonlink:first-child {
    border-radius: 0px 0px 0px 19px;
    opacity: 1;
}

.step-links .buttonlink:last-child {
    border-radius: 0px 0px 19px 0px;
    opacity: 1;
}

.countProducts{
    text-align: right;
    font: normal normal 400 24px/34px Bahnschrift;
    letter-spacing: 0.48px;
    color: #959595;
    opacity: 1;
    text-transform: uppercase;
    float: right;
}

.active_buttonlink{
    background: #ECEBEBD9 0% 0% no-repeat padding-box;
}