.flex-container {
    /* display: flex; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    font-family: Roboto;
	font-style: normal;
	/* font-weight: bold;
	font-size: 15px; */
}

.site-header {
    display: flex;
    justify-content: space-around;
    height: 73px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    box-shadow: 0px 24px 59px #333B4526;
    border-radius: 0px 0px 20px 20px;
    opacity: 1;
}

.site-header img{

    opacity: 1;
}

.boxSearch{
    display: flex;
    width: 60%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.search{
    display: flex;
    width: 100%;
    height: 40%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 43px;
    border: 1px;
    opacity: 1;
    overflow: hidden;
    align-self: flex-start;
}

.search input[type=text]{
    width: 95%;
    height: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* box-shadow: 0px 3px 6px #00000029; */
    border-radius: 43px;
    border: none;
    opacity: 1;
}

.search button{
    background: transparent;
    border: none;
}

.checkSearch {
    height: 40%;
    align-self: flex-end;
    overflow: hidden;
}

/* .tableArea {
    
    
} */

/* body {
    background: transparent url('/static/images/triangulos.png') no-repeat padding-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1000px;
    
} */

.table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-top: 5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* table-layout: fixed; */
}

.table thead {
    color: white;
    background-color: #222C40;
    height: 83px;
}

.table thead th:first-child{
    border-radius:30px 0 0 30px;
}

.table tbody {
    border: 1px solid #707070;
}

.table tbody tr {
    height: 83px;
    border: solid;
    border-color: #C9D1D8;
    border-width: 0 0 1px 0 ;
    text-align: center;
}

.table td:nth-child(n+2) {
    width: 55%;
}

.table td:nth-child(n+3) {
    width: 10%;
}

.table td:nth-child(n+4) {
    width: 15%;
}

.table td:nth-child(n+5) {
    width: 20%;
}