{% load bootstrap4 %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {%block imports %} {% endblock %}

  </head>
  <body class="flex-container">
        <nav class="site-header">
          <a href="https://dev.laccan.ufal.br/laccan/product-catalog/aquisefaz/wikis/home"><img src="{% static 'images/Laccan-apresentao---verso-bran.png' %}"></a>
            <form action="{% url 'searchPrice' %}" class="boxSearch" method="GET">
              <div class="search">
                <button type="submit"><img src="{% static 'images/Ativo_10.png' %}" alt="Go"></button>
                <input type="text" name="searchTerm" id="" placeholder="Pesquisar">
              </div>

              <div class="checkSearch">
                <input type="checkbox" id="economizaAL" value="ecoal" name="bases" checked>
                <label for="economizaAL">Economiza Alagoas</label>

                <input type="checkbox" id="sinapi" value="sinapi" name="bases">
                <label for="sinapi">SINAPI</label>

                <input type="checkbox" id="portalGov" value="portalGov" name="bases">
                <label for="portalGov">Portal de Compras Governamentais</label>

                <input type="checkbox" id="carajas" value="carajas" name="bases">
                <label for="carajas">Carajás</label>

                <input type="checkbox" id="leroy" value="leroy" name="bases">
                <label for="leroy">Leroy Merlin</label>

                <input type="checkbox" id="tupan" value="tupan" name="bases">
                <label for="tupan">Tupan</label>
              </div>
            </form>
          <img src="{% static 'images/Ativo_15.png' %}" height="25%">
        </nav>
        <div class="content">
          {% block content %} {% endblock %}
        </div>

  </body>
</html>