{% extends 'base.html' %}

{% block imports %}
    <title>Control Painel</title>
{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Control Painel</h1>
        <a href="{% url 'searchPrice' %}">Search Prices</a>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-sm-4 border-right text-center">
            <h3 class="text-center">Sinapi</h3>
            <a class="btn btn-dark" href="{% url 'sinapi'%}">Feeding Database</a>
          </div>
          <div class="col-sm-4 border-right text-center">
            <h3 class="text-center">Economiza Alagoas</h3>
            <a class="btn btn-dark" href="{% url 'ecoal'%}">Feeding Database</a>
          </div>
          <div class="col-sm-4 text-center">
            <h3 class="text-center">Compras Governamentais</h3>
            <a class="btn btn-dark" href="{% url 'portalComprasGov'%}">Feeding Database</a>
          </div>
        </div>
    </div>
    {% if status == True %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Yaaaaaay</strong> Database successfully updated!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
    {% if status == False %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Iiiiiiiixii</strong> There was a problem with this operation :/
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
{% endblock %}