{% extends 'base.html' %}

{% block imports %}
    <title>Product Catalog</title>
{% endblock %}

{% block content %}
    <div class="tableArea">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product description</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Source</th>
                    <th scope="col">Price (R$)</th>
                </tr>
            </thead>
            <tbody>

                {% for product in products %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ product.0.description }}</td>
                        <td>{{ product.0.unit }} </td>
                        <td>{{ product.0.storeName }}</td>
                        <td>R$ {{ product.1.price }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        <div class="pagination">
            <div>
                <select name="qtdByPage" class="select" id="qtdByPage">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <button onclick="addQtdByPage()" class="button">Ir</button>
                <a href="" hidden id="goHref"></a>
            </div>
            <div class="step-links">
                {% for i in page_range %}
                    {% if products.number == i %}
                        <a class="buttonStep buttonlink active_buttonlink" href="">{{ i }}</a>
                    {% else %}
                        {% if i == products.paginator.ELLIPSIS %}
                            <a class="buttonStep buttonlink" href="">{{ i }}</a>
                        {% else %}
                            <a class="buttonStep buttonlink" href="?{{queries.urlencode}}&amp;page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <label class="countProducts">{{ countProducts }} produtos</label>
    </div>
    <script>
        function addQtdByPage() {
            var qtd = document.getElementById("qtdByPage");
            var url = "?{{queries.urlencode}}"
            url = url.replaceAll(/&amp;qtdByPage=\d+/gi, '')
            url += "&page=1&qtdByPage="+qtd.options[qtd.selectedIndex].text;
            var urlGO = url.replaceAll('&amp;', '&');
            var goButton = document.getElementById("goHref");
            goButton.href = urlGO;

            goButton.click();
        }
    </script>
{% endblock %}