{% extends 'base.html' %}

{% block imports %}
    <title>Product Prices</title>
{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Search prices</h1>
        <form action="{% url 'searchPrice' %}" method="get">
            <div class="form-group mx-sm-3">
                <input type="text" name="searchTerm" placeholder="Search Term" class="form-control">
            </div>
                <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="container-fluid">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product description</th>
                <th scope="col">Source</th>
                <th scope="col">Price (R$)</th>
            </tr>
        </thead>
        <tbody>

            {% for keySinapi, materialSinapi in SINAPI.items %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ keySinapi }}</td>
                    <td>SINAPI</td>
                    <td>R$ {{ materialSinapi.preco }}</td>
                </tr>
            {% endfor %}

            {% for keyEcoAL, materialEcoAL in ecoAL.items %}
                <tr>
                    <th scope="row">{{ forloop.counter|add:countSinapi }}</th>
                    <td>{{ keyEcoAL }}</td>
                    <td>Economiza Alagoas</td>
                    <td>R$ {{ materialEcoAL.preco }}</td>
                </tr>
            {% endfor %}

            {% for keyComprasGov, materialComprasGov in comprasGov.items %}
                <tr>
                    <th scope="row">{{ forloop.counter|add:countSinapi|add:countEcoAL }}</th>
                    <td>{{ keyComprasGov }}</td>
                    <td>Portal de Compras Governamentais</td>
                    <td>R$ {{ materialComprasGov.preco }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <!-- <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div> -->
{% endblock %}